<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.dao.UserDao">
<!--设置model类和数据库中表的字段一一对应，注意数据库字段和model类中的字段名称不致，此处一定要！-->
	<resultMap id="BaseResultMap" type="com.zheng.model.User">
		<result column="ID" property="id" jdbcType="CHAR" />
		<result column="NAME" property="name" jdbcType="CHAR" />
		<result column="PASSWORD" property="password" jdbcType="CHAR" />
	</resultMap>
	<!-- 查询单条记录 -->
	<select id="selectUserById" parameterType="String" resultMap="BaseResultMap">
		SELECT * FROM userInfo WHERE ID = #{id}
	</select>
</mapper>